@font-face {
    font-family: Montserrat;
    src: url("../font/Montserrat.otf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("../font/Montserrat-ExtraLight.otf")
}

@font-face {
    font-family: PingFang;
    src: url("../font/PingFang-SC-Regular.ttf")
}

@font-face {
    font-family: gilroy;
    src: url("../font/Gilroy-Light.otf")
}

html,
body {
    height: 100%;
    font-family: "gilroy", "PingFang"
    background: #f6f6f6;
}

body {
    padding: 0;
    margin: 0;
    min-width: 900px;
}

a {
    text-decoration: none;
    display: block;
}

div {
    padding: 0;
    margin: 0;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 18px;
    color: #555;
}

span {
    line-height: 1.9;
    margin: 0;
    padding: 20px 0 0;
}

.empty {
    position: absolute;
    height: 100%;
}

.block {
    box-sizing: border-box;
    margin: 0px auto 60px;
    width: auto;
    height: auto;
    box-shadow: 0 0 3px #999;
    background: #fff;
    border-radius: 5px;
}

.nav {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #5ca8f5;
    border-radius: 5px;
    margin: 0 20px;
    line-height: 70px;
    height: 70px
}

.nav:hover {
    background-color: #5ca8f5;
    color: #FFF;
}

.type {
    width: 150px;
    border-right: 1px solid #ddd;
}

.typename {
    text-align: center;
    margin: 0;
}

.head {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
}

.head a {
    line-height: 60px;
}

.info {
    flex-grow: 2;
    height: 60px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.info a {
    margin: auto 20px;
}

.title,
.typename {
    color: #111;
}

.typename:hover {
    color: #4C7ADA;
}

.posttime {
    text-align: right;
    margin-right: 30px;
    font-size: 12px;
    color: #666;
}

.cont {
    padding: 0 20px 20px 20px;
}

.topic {
    padding: 10px;
    height: 40px;
}

.topic a {
    color: #111;
    font-size: 20px;
    line-height: 40px;
    font-family: Montserrat-Light;
}

.word {
    padding: 35px 20px;
}

.word p {
    color: #454545;
    display: inline
}

.word a {
    color: #275CEC;
    display: inline
}

.word a:hover:after {
    content: " 🡥"
}

.i,
.v {
    height: auto;
    width: 100%;
}

.i img {
    width: 100%;
}

.v iframe {
    height: 650px;
    width: 100%;
}

.comment {
    box-sizing: border-box;
    height: 60px;
    padding: 20px;
}

.container {
    padding: 20px;
}

#outline {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: auto;
    min-height: 100%;
}

#header {
    min-width: 900px;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 140px;
    background: linear-gradient(60deg, #1c2e70, #1e4cb5 20%, #3d98f5);
    box-shadow: 0px 0px 10px #111;
}

#header a {
    color: #fafafa;
    text-align: center;
}

#navbar {
    z-index: 1000;
    padding: 40px 0;
    height: 60px;
    width: 100%;
    position: fixed;
}

#home {
    font-family: montserrat;
    line-height: 60px;
    display: block;
    font-size: 50px;
}

#navbar_header {
    float: left;
    padding-left: 50px;
}

#navbar_container {
    padding-right: 40px;
    height: 60px;
    width: auto;
    float: right;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto 0;
}

#content {
    z-index: 2;
    position: relative;
    height: auto;
    width: 100%;
    margin: 200px 0 60px;
}

#strict {
    position: relative;
    max-width: 1920px;
    z-index: 3;
    box-sizing: border-box;
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

#footer {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(60deg, #1c2e70, #1e4cb5 20%, #3d98f5);
    box-shadow: 0 0 10px;
}

#copyright {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright_word {
    font-family: Montserrat-Light;
    font-size: 14px;
    color: #efefef;
    line-height: 60px;
}

#self {
    height: 80%;
    width: 60%;
    box-shadow: 0 0 3px #999;
    background: linear-gradient(45deg, #fff, #f5f5f5);
    border-radius: 5px;
}

#edit {
    box-sizing: border-box;
    margin: 0px auto 60px;
    background: linear-gradient(45deg, #fff, #f5f5f5);
    border-radius: 5px;
}