{% extends "base.html" %}
{% block content %}
<link href="../static/photo/favcon.png" rel="shortcut icon" />
<link href="../static/css/default.css" rel="stylesheet" type="text/css">
<link href="../static/css/main-word.css" rel="stylesheet" type="text/css">
<div class="block" style="height: 80%; width: 70%；">
    <div class="inner">
        <a class="main-topic">{{content.title}}</a>
        <a class="main-info">于 {{content.post_time}} 上传{%if content.post_time != content.edit_time%}，最后编辑于
            {{content.edit_time}}
            {%endif%} #{{content.id}}</a>
        <div>
            <div class="main-word"> {{content.content|safe}} </div>
        </div>
    </div>
</div>
{% endblock content %}