<!doctype html>
<html>

<head>
    <title>{{title}} - Glog</title>
    <link rel="stylesheet" href="https://use.typekit.net/wnd0asw.css">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="outline">
        <div id="header">
            {% include "navbar.html" %}
        </div>
        <div id="content">
            <div id="strict">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            {% include "footer.html" %}
        </div>
    </div>
</body>

</html>