{% macro card(id, title, post_time, edit_time, content) %}
<div class="block" id={{id}}>
    <div class="info">
        <div class="topic"><a href="/article/{{id}}">{{title}}</a></div>
        <div><a class="posttime">于 {{post_time}} 上传{%if post_time != edit_time%}，最后编辑于 {{edit_time}} {%endif%} #{{id}}</a>
        </div>
    </div>
    <div class = "inner"><div class="word"> {{content|safe}} </div></div>
</div>
{% endmacro %}

{% extends "base.html" %}
{% block head %}
<link rel="shortcut icon" href="static/photo/favcon.png" />
<link href="static/css/default.css" rel="stylesheet" type="text/css">
<link href="static/css/main-word.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
{% for i in range(number) %}
{{card(**content[i])}}
{% endfor %}
{% endblock content %}