<!doctype html>

{% extends "base.html" %}
{% block content %}
<div class = "block">
    <div class = "container">
        <div class = "topic"><a>Name</a> </div>
        <div class = "word">
            <span>CN: 苗知雨 | EN: George</span>
        </div>
        <div class = "topic"> <a>Who Am I</a> </div>
        <div class = "word">
            <span>
                美高在读生<br>
                Programming Amateur<br>
                Python 入门<br>
                Gamer<br>
                彩虹六号2小时萌新<br>
                Steam 喜加一爱好者<br>
                摄影兴趣<br>
                偶尔（几乎不）做视频<br>
                什么都想做<s>但是懒</s>
            </span>
        </div>
        <div class = "topic"> <a>Contact</a> </div>
        <div class = "word">
            <span>
                Email: Georgemiao@outlook.com<br>
                Uplay: Pop_-<br>
                Steam: <a href = "http://steamcommunity.com/id/GeorgeMiao">Magnificent.G</a><br>
                Twitter: @GeorgeMiao219
            </span>
        </div>
    </div>
</div>
{% endblock content %}