<!doctype html>
<div id="navbar">
    <div id="navbar_header"> <a href="/" id="home">Glog</a> </div>
    <div id="navbar_container">
        {% if username == "0" %}
            <a href="/register" class="nav">Register / Login</a>
        {% else %}
            <a href="/logout" class="nav">Log out</a>
            {% if username == "admin" %}
                <a href="/editor" class="nav">Editor</a>
            {% endif %}
        {% endif %}
        <a href="/article/1" class="nav">About Me</a>
        <a href="/archive" class="nav">Archive</a>
        <a href="/" class="nav">Home</a>
    </div>
</div>